<%- include("partials/header.ejs")%>
        <form action="/sort" method="POST" id="reviewSort">
            <label for="sortType">Sort Reviews:</label>
            <select name="sortType" id="sortType">
                <option value="date">Most Recent</option>
                <option value="rating">Rating</option>
            </select>
            <input type="submit" value="Submit">
        </form>

        <div class="main_container">
            <% for(let i = 0; i < reviews.length; i++){%>
                <div class="review_container">
                    <h3><%= reviews[i].title %></h3>
                    <p><%= reviews[i].author %></p>
                    <p class="review_body"><%= reviews[i].review %></p>
                    <p class="review_stats"><b>Rating:</b> <%= reviews[i].rating %></p>
                    <p class="review_stats"><b>Review Date:</b> <%= reviews[i].date %></p>
                </div>
            <%}%>
        </div><br><br>
<%- include("partials/footer.ejs")%>   
